<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row"> 
      <div class="col-sm-4 offset-md-1 py-4">
        <span class="text-muted"><%= nav_helper 'nav-link', 'li' %></span>
        <ol class="list-unstyled social-links">
        <li><a href="https://github.com/diegoaalcocer"<%= fa_icon "github" %></a></li>
        <li><a href="https://www.linkedin.com/in/diegoaalcocer/"<%= fa_icon "linkedin-square" %></a></li>
      </ol>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-dark bg-dark box-shadow">
  <div class="container d-flex justify-content-between">
    <%= link_to "Diego Alcocer", root_path, class: 'navbar-brand d-flex align-items-center' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>