          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/alcolandscapingserviceslogo.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <h3>Freelance Web Developer</h3>
                  <p>Alco Landscaping Services</p>
                  <em>Indio, CA | Dec 2017 - Present</em>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/readylink.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <h3>Help Desk Technician - Tier 1</h3>
                  <p>ReadyLink, Inc</p>
                  <em>Thousand Palms, CA | Jan 2017 - Jun 2017</em>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/acclaim.jpg', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <h3>Internet Marketing Consultant</h3>
                  <p>Acclaim Properties LLC</p>
                  <em>Rancho Mirage, CA | Dec 2015 - Jul 2016</em>
                </div>
              </div>
            </div>
          </div>