          <div class="collapse" id="education">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/bottega.jpg', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <h3>Bottega.Tech</h3>
                  <p>Full-Stack Web Developer Certificate</p>
                  <em>Lehi, UT | Oct 2017 - Jan 2018</em>
                </div>
              </div>
            </div>