<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>Hello! My name is Diego Alcocer. I am twenty-four years old and currently live in Indio, California. My day-to-day life usually consist of family, friends, video games, and web development. Growing up, I have always had a passion for both the Information Technology and Computer Science industries. I remember the day my family bought a '98 Gateway computer for Christmas with a subscription to AOL. It was my first experience with computer hardware/software and ultimately the power of the Internet. This memeory was the starting point of my journey. Over the years, with a dedication to self-growth, taught myself the basics of graphic design, game development, web design/development, computer repair, computer networking, and animation.</p>
        <%= render 'about_buttons' %>
        <%= render 'about_job_history' %>
        <%= render 'about_education' %>
      </div>
    </div>
  </div>
</div>