<div class="inner cover">
  <h1 class="cover-heading">Welcome!</h1>
  <p class="lead">Motivated web developer offering a strong work ethic and positive attitude. Highly effective in fast-paced work environments. Highly detail-oriented and organized self-starter who works well independently to get the job done to the satisfaction of the client.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>